<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Sentiment Analysis</h1>
    <div>
        <label for="inputText">Enter your text:</label>
        <textarea id="inputText" rows="4" cols="50"></textarea>
    </div>
    <button id="analyzeButton">Analyze Sentiment</button>
    <div id="result" class="result"></div>
    
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
